/** 顶部导航 **/
#topnav {
	/*控制id为topnav的整个导航栏*/
	background: url(navi/menu-repeat.png) repeat;
	height: 36px;
	width:1024px;
	font-size: 12px;/*控制菜单中字体的大小，向下覆盖*/
	margin:0;padding:0;
	}	
.home {
	/*控制 返回主页菜单*/
	background: url(navi/home.png);
	border-right:1px solid #cf4747;
	float:left;
	width:116px;
	height:36px;
	}
.home a:hover {
	/*鼠标移动到 主页菜单 时*/
	background: url(navi/home-hover.png);
	/*以下是不必要的，会直接继承.home的大小属性*/
	border-right:1px solid #cf4747;
	width:116px;
	height:36px;
	}

/* 清除小圆点*/
ul li{list-style:none}

/************************一级菜单的样式定义******************************/		
#topnav li {
	/*控制 由php生成的 每一个菜单项*/
	height:36px;
	border-right:1px solid #cf4747;
	float: left;
	font-weight:bold;
	}

#topnav li a, #topnav li a:link, #topnav li a:visited {
/*控制 topnav中 li标签中的  链接 使未点击和点击后表现相同*/
	display: block;
	padding: 0 20px 0 20px;/*使仅有文字大小的li之间保留25px空白*/
	line-height:36px; 
	color: #f2f2f2;
	text-decoration:none;/*去除超链接下的线*/
	}

#topnav li a:hover, #topnav li a:active {
/*控制 topnav中 li标签中的  链接 使 正在点击 和 正在点击 表现相同*/
	background: url(navi/menu-repeat-hover.png) repeat;
	color: #fff;
	text-decoration: none;
	}
/************************一级菜单的样式定义******************************/		


/* ************控制 二级子菜单************ */
	
#topnav li ul {
	/*控制 整个子菜单 li标签中的ul*/
	position: absolute;
	width: 100px;
	margin: 0;
	border-width: 1px 1px 0px;
	z-index: 999;
	}
	
#topnav li ul {
	left: -999em;
	/*去除自动的ul缩进*/
	margin:0;
	padding:0;
	}
#topnav  li:hover ul{
	left: auto;
	}
	
#topnav  li ul li{
float:left;
height:30px;
}
	/*定义二级菜单链接*/
#topnav  li ul li a{
	/*控制 整个子菜单中的菜单项 li标签中的ul中的li*/
	height:30px;
	float: left;
	background: url(navi/menu-repeat.png) repeat;
	/*background:rgb(255,0,0);*/
	border-top: 1px solid #cf4747;

	}

#topnav  li ul li a:hover {
	/*控制 子菜单中的菜单项的链接 当鼠标在上方时*/
	background: rgb(255,72,0);/*红色*/
	color: #fff !important;
	text-decoration: none;
	}

/* ************控制 三级子菜单************ */
#topnav  li ul ul {
	margin: -31px 0px 0px 150px;
	}


/*隐藏多级菜单*/
	#topnav  li:hover ul ul, 
#topnav  li:hover ul ul ul, 
#topnav  li:hover ul ul ul ul{
	left: -999em;
	}



/**********************导航搜索**********************/
#searchbar {
	background: url(navi/search.png);
	width:173px;
	height:36px;
	float:right;
	}

#searchbar #go {
	position: absolute;
	float:left;
	margin: 12px 0 0 11px;
	width:13px;
	height:13px;
	}

/*搜索输入框的id*/
#searchbar #s { 
	height: 16px;
	float: right;
	margin: 9px 16px 0 0;
	border: 0 !important;
	width: 130px;
	background: none;
	color:#393939;
	font-size:12px;
	}

/**********************导航搜索**********************/